#container{
    width:800px;
    height:600px;
    margin:0 auto;
    background-color: #f2f2f2;
    
}
#box1{
    width:100px;
    height:100px;
    background-color:greenyellow;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position:relative;
    top:100px;
    left:190px;
}
#box2{
    width:100px;
    height:100px;
    background-color:greenyellow;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    position:relative;
    left:310px;
}
#box3{
    width:100px;
    height:100px;
    background-color:greenyellow;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    position:relative;
    left:190px;
}
#box4{
    width:100px;
    height:100px;
    background-color:greenyellow;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position:relative;
    top:-100px;
    left:310px;
}
#circle{
    width:20px;
    height:20px;
    background-color:red;
    border-radius:10px;
    position:relative;
    left:290px;
    top:-210px;
}